# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/
server/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Documentation build
site/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Download temp files
*.mp4
*.mkv
*.part
downloads/
