[Unit]
Description=AnimeSaturn Live Machine API Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/AnimeSaturn-API
ExecStart=/opt/AnimeSaturn-API/venv/bin/uvicorn server.app:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
Environment=PORT=8000

[Install]
WantedBy=multi-user.target
